{% extends 'base.html' %}
{% load static tailwind_tags %}
{% block content %}
    <div id="page-wrapper" class="flex flex-box mx-auto pt-24 justify-center h-[calc(100vh-3rem)] w-[70%]">
        <div class="flex flex-col h-full w-full bg-gray-800  p-6 gap-4 align-items-center rounded-2xl">
            <div class="bg-purple-900 rounded-2xl w-fit h-fit px-4 py-2 text-2xl text-white shadow-md shadow-black" >
                <h2 class="text-2xl font-bold cursor-default">{{ log.title }}</h2>
            </div>
            <div class="bg-gray-700 h-full w-[90%] rounded-2xl shadow-2xl px-10 py-2 mb-2 text-center text-white text-xl justify-items-center align-content-center cursor-default">
                <h2>{{ log.content }}</h2>
            </div>
            <div>
                <a href="{% url 'boardPage' log.board.id%}" class=" bg-gray-700 text-white text-2xl font-bold p-3 rounded-2xl hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-purple-900 hover:bg-gray-600">
                    Return
                </a>
            </div>
        </div>
    </div>
{% endblock %}