{% extends 'base.html' %}
{% load static tailwind_tags %}

{% block content %}
<form method="POST">
    {% csrf_token %}
<!--Sets up the view area-->
<div class="flex flex-box mx-20 pt-24 h-[calc(100vh-3rem)]">
    <div class="grid grid-cols-2 w-full h-full gap-x-4">
        <!--Left Column-->
        <div class="px-10 py-8 relative">
            <div class="bg-gray-700 text-white text-center w-full rounded-2xl shadow-md shadow-black hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-purple-700 focus-within:shadow-purple-700 focus-within:shadow-[0_0px_15px_rgba(0,0,0,0.9)]">
                {{ form.title }}
            </div>

            {% if form.title.errors %}
                <p class="text-red-500 text-sm mt-1">
                    {% for error in form.title.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% endif %}   
            <div class="relative bg-grey-300 mt-8 bg-gray-500 w-full rounded-3xl">
                <h2 class="text-2xl text-white px-2 py-3 text-center font-bold">Log Tags</h2>      
                <button class="absolute top-2.5 right-2.5 bg-blue-300 px-3 py-2.5 rounded-2xl font-bold">+</button>
            </div>
            <button type="submit" class="absolute bottom-10 left-[45%] bg-gray-700 text-white text-2xl font-bold p-3 rounded-2xl hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-purple-900 hover:bg-gray-800">Submit</button>
        </div>
        <!--Right Column-->
        <div class="px-24 py-8">
            <div class="bg-gray-700 text-white h-full rounded-2xl shadow-md shadow-black hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-purple-700 focus-within:shadow-purple-700 focus-within:shadow-[0_0px_15px_rgba(0,0,0,0.9)]" >
                <h2 class="text-2xl text-white px-2 py-1 text-center font-bold">Log</h2>
                {{ form.content }}
                 {% if form.content.errors %}
                    <p class="text-red-500 text-sm mt-1">
                        {% for error in form.content.errors %}
                            {{ error }}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}
