{% extends 'base.html' %}
{% load static %}
<!--Tailwind for vercel-->
<link href="{% static 'styles.css' %}" rel="stylesheet">
{% block content %}
<meta name="csrf_token" content="{{ csrf_token }}">
<!--Sets up the view area-->
<div class="flex flex-col w-full h-full gap-y-3 pt-25">
    <!--Left Column-->
    <div class="xl:px-40 lg:px-20 md:px-10 px-2 sm:px-8 transition-all duration-100">
        <input id="title-input" placeholder="Log Title" class="bg-gray-700 text-white font-bold text-lg md:text-2xl w-full h-[80%] px-2 py-3 inline-block text-center focus:outline-none resize-none rounded-b-2xl active:border-none active:radius-none rounded-2xl shadow-md shadow-black hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-purple-700 focus-within:shadow-purple-700 focus-within:shadow-[0_0px_15px_rgba(0,0,0,0.9)]" />
    </div>
    <!--Right Column-->
    <div class="xl:px-40 lg:px-20 md:px-10 sm:px-8 px-2 transition-all duration-100">
        <div class="w-full h-[450px] flex flex-col gap-y-2">
            <h2 class="text-lg md:text-2xl text-white px-2 py-1 text-center font-bold">Log Content</h2>
            <textarea id="log-input" placeholder="Enter Log Here" spellcheck="true" class=" rounded-2xl shadow-md shadow-black hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-purple-700 focus-within:shadow-purple-700 focus-within:shadow-[0_0px_15px_rgba(0,0,0,0.9)] bg-gray-700 overflow-y-auto w-full h-full px-3 py-1.5 leading-[2rem] text-lg md:text-2xl text-white font-medium placeholder:text-gray-50 focus:outline-none resize-none rounded-b-2xl active:border-none active:radius-none" 
            style='background-image: repeating-linear-gradient(to bottom, rgba(255,255,255,0.25) 0, rgba(255,255,255,0.25) 1px, transparent 1px, transparent 2rem);'></textarea>
        </div>
    </div>
    <div class="pt-8 flex flex-row gap-x-4 w-full justify-center">
        <a href="{% url 'boardPage' board.id %}" class="bg-gray-700 peer text-white text-2xl font-bold p-3 rounded-2xl shadow-transparent shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-red-600 hover:bg-gray-800">Cancel</a>
        <button id="submit-button" class=" bg-gray-700 text-white text-2xl font-bold p-3 rounded-2xl shadow-transparent shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-purple-900 hover:bg-gray-800">Submit</button>
    </div>
</div>
<script>
    const boardId = "{{ board.id }}"
    const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const titleInput = document.getElementById('title-input');
    const logInput = document.getElementById('log-input');
    const submitBtn = document.getElementById('submit-button');


    submitBtn.addEventListener('click', () =>{
        if(!titleInput.value) {
            titleInput.classList.add('shadow-red-500', 'hover:shadow-red-500');
        } else {
            titleInput.classList.remove('shadow-red-500', 'hover:shadow-red-500');
        } 
        if (!logInput.value || !logInput.value === 'Enter Log Here') {
            logInput.classList.add('shadow-red-500', 'hover:shadow-red-500');
        } else {
            logInput.classList.remove('shadow-red-500', 'hover:shadow-red-500');
        }
        if(logInput.value && titleInput.value) {
            fetch(`/logs/${boardId}/newLog/`, {
                method : 'POST',
                headers : {
                    'Content-Type' : 'application/json',
                    'X-CSRFToken' : csrf_token
                },
                body : JSON.stringify({'logTitle' : titleInput.value, 'logInput' : logInput.value})
            })
            .then(res => res.json())
            .then(data => {
                if(data.success){
                    window.location.href = data.redirect_url;
                }
            })
        }
    });
</script>

{% endblock %}
