{% extends 'base.html' %}

{% block content %}
<div class="container h-100 d-flex justify-content-center align-items-center py-4">
    <div class="rounded-2xl overflow-x-hidden shadow-2xl">
        <div class="px-96 py-72 bg-purple-400">
            <h1 class="text-3xl text-gray-300 my-4 cursor-default">
                You are not signed in
            </h1>
            <a href="/signIn" class="">
                <h1 class="text-blue-600 text-2xl text-decoration-line: underline text-center">
                    Sign In
                </h1>
            </a>
        </div>
    </div>
</div>
{% endblock %}