{% extends 'base.html' %} {% load static tailwind_tags %}
{% block content %}
    <div class="flex flex-box mx-5 pt-24 justify-center align-items-center h-[calc(100vh-3rem)]">
        {% if boards is not None %}
        <div class="grid grid-cols-4 gap-x-10 gap-y-4 w-full h-full items-center auto-rows-min">
            {% for board in boards %}
            <a href="{% url 'boardPage' board.id %}" class="w-full h-fit bg-purple-800 rounded-2xl flex flex-col hover:bg-purple-950 shadow-md shadow-black">
                <div class="text-2xl text-amber-50 text-center py-2">{{ board.title }}</div>
                <div class="bg-purple-600 drop-shadow-lg flex-1 mx-4 mb-3 overflow-auto rounded-lg">
                    <div class="">
                        <h2 class="text-2xl mx-2 mt-2.5 text-gray-300 text-center">Known Concepts :  {{ board.knownCount }} </h2>
                        <h2 class="text-2xl mx-2 my-2.5 text-gray-300 text-center">Unknown Concepts : {{ board.unknownCount }} </h2>
                        <h2 class="text-2xl mx-2 my-2.5 text-gray-300 text-center">Learning Concepts : {{ board.learningCount }} </h2>
                        <h2 class="text-2xl mx-2 my-2.5 text-gray-300 text-center">Log Count : {{ board.logCount }} </h2>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <a href="{% url 'newBoard' %}" class="fixed bottom-6 right-6 bg-yellow-300 text-black px-8 py-4 rounded-full shadow-2xl hover:bg-yellow-500">+</a>
        {% else %}
            <div class="text-center space-y-2 ">
                <h1 class="text-2xl text-amber-50">You have no boards</h1>
                <a href="{% url 'newBoard' %}" class="block text-blue-400 text-2xl underline hover:text-blue-600">Create Board</a>
            </div>
        {% endif %}
    </div>
{% endblock %}