{% extends 'base.html' %}
{% load static tailwind_tags %}

{% block content %}
<div class="flex flex-box mx-5 pt-24 h-[calc(100vh-3rem)]">
    <div class="grid grid-cols-[1fr_2fr] grid-rows-2 gap-x-20 gap-y-10 w-full h-full">

        <!--Is the small card for Logs-->
        <div class="w-full h-full flex flex-col bg-amber-100 rounded-2xl relative">
            <h2 class="text-3xl font-bold mt-2 mb-4 text-center">My Logs</h2>
            {% for log in logs %}
                <button class="bg-blue-300 w-[90%] h-14 rounded-2xl ml-[5%] my-2 flex justify-between items-center">
                    <p class="text-left px-4">{{ log.title }}</p>
                    <p class="text-right px-4">
                        <span class='local-time' data-time="{{ log.dateAdded|date:'c' }}"></span>
                    </p>
                </button>
            {% endfor %}
            <a href="{% url 'newLog' board.id %}" class="absolute top-1.5 right-1.5 bg-purple-500 text-black rounded-full shadow-2xl px-3.5 py-2">+</a>
        </div>

       <!--Is the large card for Learning Breakdown-->
        <div class="w-full  flex flex-col bg-amber-100 rounded-2xl relative h-[cacl(100vh-8rem)]">
            <h2 class="text-3xl font-bold mt-2 mb-4 text-center">My Learning Breakdown</h2>
            <div class="flex flex-row h-full mx-8 mt-2 mb-6">
                <!--Div for the learning breakdown graph-->
                <div class="bg-blue-400 h-full w-[35%] ">
                    <h2 class="text-center text-2xl font-bold text-black">Graph Breakdown</h2>
                </div>
                <div class="bg-blue-300 h-full w-[65%] ml-12 flex-col rounded-2xl">
                    <!--Section for known concepts-->
                    <div class="h-12 my-9 mx-8 rounded-2xl w-[90%] bg-pink-400 flex items-center justify-between">
                        <h2 class="text-2xl font-bold px-4 text-left">Known Concepts</h2>
                        <h2 class="text-2xl font-bold px-4 text-right">#</h2>
                    </div>
                        <div class="h-12 my-9 mx-8 rounded-2xl w-[90%] bg-pink-400 flex items-center justify-between">
                        <h2 class="text-2xl font-bold px-4 text-left">Learning Concepts</h2>
                        <h2 class="text-2xl font-bold px-4 text-right">#</h2>
                    </div>
                        <div class="h-12 my-9 mx-8 rounded-2xl w-[90%] bg-pink-400 flex items-center justify-between">
                        <h2 class="text-2xl font-bold px-4 text-left">Unknown Concepts</h2>
                        <h2 class="text-2xl font-bold px-4 text-right">#</h2>
                    </div>
                </div>
            </div>
        </div>

        <!--Is the small card for Study Sessions-->
        <div class="w-full h-full flex flex-col bg-amber-100 rounded-2xl relative">
            <h2 class="text-3xl font-bold mt-2 mb-4 text-center">My Study Sessions</h2>
            {% for session in board.sessions.all %}
                <button class="bg-blue-300 w-[90%] h-14 rounded-2xl ml-[5%] my-2 flex justify-between items-center">
                    <p class="text-left px-4">{{ session.title }}</p>
                    <p class="text-right px-4">{{ session.dateAdded }}</p>
                </button>
                {% endfor %}
            <a href="#" class="absolute top-1.5 right-1.5 bg-purple-500 text-black rounded-full shadow-2xl px-3.5 py-2">+</a>
        </div>

        <!--Is the larger card for Concepts-->
        <div class="w-full h-full flex flex-col bg-amber-100 rounded-2xl relative">
            <h2 class="text-3xl font-bold my-2 text-center">My Concepts</h2>
            <div class="flex flex-col w-[18%]">
                {% for concept in board.concepts.all %}
                <button class="bg-blue-400 rounded-2xl py-1 font-medium mx-2 my-2">{{ concept.answer }}</button>
                {% endfor %}
            </div>

            <a href="#" class="absolute top-1.5 right-1.5 bg-purple-500 text-black rounded-full shadow-2xl px-3.5 py-2">+</a>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.local-time').forEach(span => {
            const UTCDate = new Date(span.dataset.time);
            span.textContent = UTCDate.toLocaleString('en-US', {
                year : 'numeric',
                month : 'short',
                day : 'numeric',
                hour : 'numeric',
                minute : 'numeric'
            });
        });
    });
</script>
{% endblock %}

<!--href="{% url 'newLog' %}"-->