{% extends 'base.html' %}
{% load static tailwind_tags %}
{% block content %}
    <meta name="csrf_token" content="{{ csrf_token }}">
    <!--Section for all tags-->
    <div id="page-wrapper" class="flex flex-box mx-auto pt-24 justify-center h-[calc(100vh-3rem)] w-[90%] transition-all duration-200">
        <div class="flex flex-col  xl:grid xl:grid-cols-2 gap-2 h-full w-full">
            <div class="flex flex-col gap-4 px-4 pt-1 py-4 align-items-center">
                <!--Concept answer -->
                <div class="flex-row h-fit w-full bg-purple-950 justify-items-center px-5 pt-1 pb-2 rounded-2xl text-xl shadow-md shadow-black focus-within:shadow-[0_0px_15px_rgba(0,0,0,0.9)] focus-within:shadow-purple-500">
                    <input type="text" id="concept-answer" placeholder="{{ concept.answer }}" value="{{ concept.answer }}"
                            class="text-2xl font-bold text-white h-full w-full bg-transparent text-center focus:outline-none">
                </div>
                <div class="h-full w-full border-4 border-purple-900 bg-gray-800 justify-items-center px-5 py-3 rounded-2xl shadow-md shadow-black focus-within:shadow-[0_0px_15px_rgba(0,0,0,0.9)] focus-within:shadow-purple-500">
                    <h2 class="text-2xl font-bold text-white bg-purple-950 px-3 py-2 rounded-2xl shadow-md shadow-black mb-3 cursor-default">Concept Definition</h2>
                    <div class="h-[75%] w-full">
                        <textarea id="concept-definition" placeholder="{{ concept.definition }}"
                                class="text-lg text-white h-full w-full bg-transparent justify-items-center focus:outline-none resize-none">{{ concept.definition }}</textarea>
                    </div>
                </div>
                <!--Header Section-->
                <div class="h-fit w-full border-4 flex flex-col gap-y-2 border-purple-900 bg-gray-800 justify-items-center px-5 rounded-2xl shadow-md shadow-black focus-within:shadow-[0_0px_15px_rgba(0,0,0,0.9)] focus-within:shadow-purple-500">
                    <div class="w-full h-fit py-2">
                        <!--Add new Question or Remove Question-->
                        <div class="flex flex-row h-fit w-full gap-x-4 justify-center items-center">
                            <h2 class="justify-self-center bg-purple-950 shadow-md shadow-black lg:text-2xl text-lg font-bold text-white px-3 py-2 rounded-2xl cursor-default">Concept Questions</h2>
                            <button id="add-question" class=" bg-purple-500 text-black rounded-3xl shadow-md shadow-black hover:bg-purple-700 h-full w-fit text-xl font-bold px-3 py-1">+</button>
                        </div>
                        <!--Available Questions Dropdown-->
                        <div id="available-questions-dropdown" class=" hidden top-6 right-5 absolute h-fit w-[30%] bg-gray-700 flex flex-col gap-y-2 py-2 px-1">
                            {% for question in availableQuestions %}
                            <div data-title="{{ question.title }}" class="available-question cursor-pointer h-fit w-[95%] bg-gray-500 text-center text-white rounded text-lg font-bold">{{ question.display_title }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="question-container" class="grid grid-rows-2 grid-cols-2 pb-2 md:flex md:flex-row gap-x-3 gap-y-3 justify-center">
                        {% for question in concept.questions.all %}
                            <div data-title="{{ question.title }}" class="question-button w-full flex flex-row justify-between cursor-default text-center px-2 py-2 bg-gray-700 text-white rounded-lg hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] shadow-md shadow-black hover:shadow-purple-900 hover:bg-gray-900 relative">
                                <h2 class="text-white text-xl">{{ question.display_title }}</h2>
                                <button data-title="{{ question.title }}" class="remove-question bg-red-500 text-white font-bold px-2 rounded hover:bg-red-900">X</button>
                            </div>  
                        {% endfor %}
                    </div>
                </div>
                <div class="h-fit w-full flex flex-col sm:flex-row gap-x-2 gap-y-2">
                    <div class="flex-2 flex-row h-full border-4 border-purple-900 bg-gray-800 justify-items-center px-5 py-3 rounded-2xl shadow-md shadow-black focus-within:shadow-[0_0px_15px_rgba(0,0,0,0.9)] focus-within:shadow-purple-500">
                        <h2 class="text-2xl font-bold text-white bg-purple-950 mb-3 px-3 py-2 rounded-2xl shadow-md shadow-black cursor-default">Concept Hint</h2>
                        <div class="h-[70%] w-full">
                            <input type="text" id="concept-hint" placeholder="{{ concept.hint }}" value="{{ concept.hint }}" 
                                    class="text-lg pb-4 font-medium text-white h-full w-full bg-transparent justify-items-center text-center placeholder:justify-items-center focus:outline-none">
                        </div>
                    </div>
                    <div class="flex flex-col gap-y-3 h-full flex-[1.5] border-4 border-purple-900 bg-gray-800 justify-items-center px-2 py-3 rounded-2xl shadow-md shadow-black items-center">
                        <h2 class="text-xl font-bold text-white text-center bg-purple-950 mb-3 px-3 py-2 rounded shadow-md shadow-black cursor-default">Concept Stats</h2>
                        <h2 class=" w-fit h-fit px-3 py-2 text-lg font-bold text-center rounded text-white {% if concept.known %}bg-green-700 {% elif concept.unknown %}bg-red-600 {% else %}bg-yellow-800 {% endif %}">{% if concept.known %}Known{% elif concept.unknown %}Unknown{% else %}Learning{% endif %}</h2>
                        <h2 class="w-fit h-fit px-3 py-2 text-white text-lg font-bold text-center rounded">Count: {{ concept.count }}</h2>
                    </div>
                </div>
            </div>
            <!--Right side of the screen for adding and removing tags-->
            <div class="relative h-full w-full flex flex-col items-center">
                <div class="h-fit w-[90%] bg-gray-800 flex flex-col items-center gap-y-6 pb-4 rounded-2xl shadow-md shadow-black">
                    <!--Acts as the Concept tag headers with search-->
                    <div class="flex flex-col items-center gap-y-2 w-[70%]">
                        <h1 class="py-1  text-white text-2xl font-bold">{{ concept.answer }} Tags</h1>
                        <input id="tag-search" placeholder="Search Tag" class="w-[80%] h-8 text-lg text-center bg-gray-600 border-2 shadow-md shadow-black border-black focus:outline-purple-700 focus:shadow-[0_0px_15px_rgba(0,0,0,0.9)] focus:shadow-purple-500" />
                    </div>
                    <!--Acts as the box for all concept tags-->
                    <div class="h-full w-full flex flex-col items-center gap-y-5 ">
                        <!--Section for all tags selected on a concepts-->
                        <div class="h-64 w-[90%] flex flex-col">
                            <h2 class="text-2xl bg-purple-900 text-white font-medium text-center">Selected Tags</h2>
                            <div class="bg-gray-500 h-full w-full overflow-y-auto pt-2">
                                <div id="concept-tags" class="grid grid-cols-4 gap-x-2 gap-y-3 pb-4 m-1">
                                </div>
                            </div>
                        </div>
                        <!--Section for all tags in the board that arent already on the concept-->
                        <div class="h-64 w-[90%] flex flex-col bg-gray-600">
                            <h2 class="text-2xl bg-purple-900 font-medium text-white text-center">Available Tags</h2>
                            <div class="h-full w-full overflow-y-auto pt-2">
                                <div id="available-tags" class="grid grid-cols-2 md:grid-cols-4 gap-x-2 pb-4 gap-y-3 m-1 h-fit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="create-tag" class="text-center bg-gray-700 text-white px-10 py-3 shadow-md shadow-black hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-blue-600 hover:bg-gray-900 font-bold text-2xl rounded-2xl mb-3 flex flex-col">Create A New Tag</button>
                </div>
                    <div class="grid grid-cols-3 w-[90%] h-fit gap-2 py-2">
                        <a href="{% if sessionId %}{% url 'sessionPage' board.id sessionId %}{% else %}{% url 'boardPage' board.id %}{% endif %}" id="submit-button" class="py-2 text-center bg-gray-700 text-white text-2xl font-bold p-3 rounded-2xl shadow-md shadow-black hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-purple-900 hover:bg-gray-800">Submit</a>
                        <a href="{% if sessionId %}{% url 'sessionPage' board.id sessionId %}{% else %}{% url 'boardPage' board.id %}{% endif %}"class="py-2 text-center bg-gray-700 text-white text-2xl font-bold p-3 rounded-2xl shadow-md shadow-black hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-yellow-700 hover:bg-gray-800">Cancel</a>
                        <button id="delete-button" class="py-2 text-center bg-gray-700 text-white text-2xl font-bold p-3 rounded-2xl shadow-md shadow-black hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-red-500 hover:bg-gray-800">Delete</button>
                    </div>
            </div>
        </div>
    </div>
    <!--Acts as the blurred background to cover main page-->
    <div id="modal-backdrop" class="hidden fixed inset-0 z-90 bg-black/50 backdrop-blur-sm">
        <!--Main modal for adding a tag-->
        <div id="new-tag-modal" class="hidden flex flex-row fixed inset-x-[25%] inset-y-[40%] w-[50%] h-[6vw] rounded-2xl bg-gray-500 z-100 align-content-center">
            <div class="flex flex-row h-full w-full py-2 px-3 gap-x-14 align-items-center">
                <!--Icon Capability for tags-->
                <div class="bg-gray-700 text-white p-3 rounded-2xl hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-purple-500 cursor-pointer hover:bg-gray-800 text-2xl font-bold">Img</div>
                <input id="tag-name" placeholder="Tag Name" class="bg-gray-700 text-white text-2xl font-bold p-3 rounded-2xl hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-purple-500 hover:bg-gray-800" />
                <button id="confirm-create-tag" class="justify-self-end bg-gray-700 text-white text-2xl font-bold p-3 rounded-2xl hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] hover:shadow-green-500 hover:bg-gray-800 absolute right-16">Confirm</button>
                <button id="close-tag-modal" class="absolute top-3.5 right-2 bg-red-600 rounded-xl px-3 py-3 hover:bg-red-800">X</button>
            </div>
        </div>
        <!--Permanently Delete Tag Modal Popup-->
        <div id="delete-tag-confirm" class="hidden flex flex-col fixed inset-x-[25%] inset-y-[40%] w-[50%] h-[6vw] rounded-2xl bg-gray-700 z-100 justify-content-center align-items-center">
            <h2 class="text-2xl text-white text-center pb-3">Do you want to permanently delete this tag?</h2>
            <button id="confirm-delete" class="bg-red-500 py-1 rounded w-fit h-fit text-lg font-bold px-4 hover:bg-red-800">Delete</button>
            <button id="cancel-delete-modal" class="absolute top-2 right-2 bg-red-600 rounded px-2 text-white hover:bg-red-800">X</button>
        </div>
        <!--Permanently Delete Concept Modal Popup-->
        <div id="delete-concept-confirm" class="hidden flex flex-col fixed inset-x-[25%] inset-y-[40%] w-[50%] h-[6vw] rounded-2xl bg-gray-700 z-100 justify-content-center align-items-center">
            <h2 class="text-2xl text-white text-center pb-3">Do you want to permanently delete this concept?</h2>
            <form method="POST" action="{% url 'deleteConcept' concept.id %}">
                <button type="submit" class="bg-red-500 py-1 rounded w-fit h-fit text-lg font-bold px-4 hover:bg-red-800">Delete</button>
            </form>
            <button onclick="closeDeleteConceptModal()" class="absolute top-2 right-2 bg-red-600 rounded px-2 text-white hover:bg-red-800">X</button>
        </div>
    </div>
    {{ conceptTags|json_script:"concept-tags-data" }}
    {{ availableTags|json_script:"available-tags-data"}}
    <script>
        const pageWrapper = document.getElementById('page-wrapper');
        const modalBackdrop = document.getElementById('modal-backdrop');
        const newTagModal = document.getElementById('new-tag-modal');

        const closeTag = document.getElementById('close-tag-modal');

        const createTag = document.getElementById('create-tag')
        const createTagBtn = document.getElementById('confirm-create-tag');
        const newTagName = document.getElementById('tag-name');

        const availableTags = document.getElementById('available-tags');
        const conceptTags = document.getElementById('concept-tags');

        const csrfToken = document.querySelector('meta[name=csrf_token]').getAttribute('content');


        const deleteTagConfirm = document.getElementById('delete-tag-confirm');
        const confirmDeleteBtn = document.getElementById('confirm-delete');

        const deleteConceptModal = document.getElementById('delete-concept-confirm');
        const cancelDeleteModal = document.getElementById('cancel-delete-modal');

        const conceptAnswer = document.getElementById('concept-answer');
        const conceptDefinition = document.getElementById('concept-definition');
        const conceptHint = document.getElementById('concept-hint');

        const submitBtn = document.getElementById('submit-button');
        const deleteBtn = document.getElementById('delete-button');

        const tagSearch = document.getElementById('tag-search');

        const questionContainer = document.getElementById('question-container');
        const currentQuestionBtn = document.querySelectorAll('.question-button');

        let availableQuestionBtns = document.querySelectorAll('.available-question');
        let removeQuestionBtns = document.querySelectorAll('.remove-question');
        const availableQuestionsDropdown = document.getElementById('available-questions-dropdown');
        const addQuestion = document.getElementById('add-question');

        let stagedTags = [];
        let stagedQuestions = [];

        const boardId = "{{ board.id }}";
        const conceptId = "{{ concept.id }}";
        const sessionId = "{{ session.id }}" || null;


        function openModal() {
            pageWrapper.classList.add('blur-sm', 'pointer-events-none');
            newTagModal.classList.remove('hidden');
            modalBackdrop.classList.remove('hidden');
        }

        function closeModal() {
            pageWrapper.classList.remove('blur-sm', 'pointer-events-none');
            newTagModal.classList.add('hidden');
            modalBackdrop.classList.add('hidden');
        }

        function openDeleteModal(tagId) {
            pageWrapper.classList.add('blur-sm', 'pointer-events-none');
            modalBackdrop.classList.remove('hidden');
            deleteTagConfirm.dataset.tagId = tagId;
            deleteTagConfirm.classList.remove('hidden');
        }

        function closeDeleteModal(tagId) {
            pageWrapper.classList.remove('blur-sm', 'pointer-events-none');
            deleteTagConfirm.classList.add('hidden');
            modalBackdrop.classList.add('hidden');
            deleteTagConfirm.dataset.tagId = '';
        }
        function openDeleteConceptModal() {
            pageWrapper.classList.add('blur-sm', 'pointer-events-none');
            deleteConceptModal.classList.remove('hidden');
            modalBackdrop.classList.remove('hidden');
        }
            function closeDeleteConceptModal() {
            pageWrapper.classList.remove('blur-sm', 'pointer-events-none');
            deleteConceptModal.classList.add('hidden');
            modalBackdrop.classList.add('hidden');
        }

          function createTagButton(tag, isConceptTag = false) {
            const button = document.createElement('button');
            button.className = isConceptTag ? 'conceptTag text-center bg-gray-700 text-white rounded-2xl hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] shadow-md shadow-black hover:shadow-purple-900 hover:bg-gray-800 rounded-2xl w-full h-8 relative'
                                            : 'availableTag text-center bg-gray-700 text-white rounded-2xl hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)] shadow-md shadow-black hover:shadow-purple-900 hover:bg-gray-800 rounded-2xl w-full h-8 relative';
            button.dataset.id = tag.id;
            button.textContent = tag.name;

            const removeTagButton = document.createElement('button');
            removeTagButton.textContent = 'X';
            removeTagButton.className = 'absolute right-2 top-2 bg-red-500 text-white text-xs px-1 rounded hover:bg-red-800';
            removeTagButton.onclick = (e) => { 
                e.stopPropagation();
                openDeleteModal(tag.id);
            }

            button.appendChild(removeTagButton);

            return button;
        }

        addQuestion.addEventListener('click', () => {
            if(availableQuestionsDropdown.children.length > 0 ){
                availableQuestionsDropdown.classList.toggle('hidden');
            } 
        });


        availableQuestionsDropdown.addEventListener('click', (e) => {
            const btn = e.target.closest('.available-question');
            if (!btn) return;
                availableQuestionsDropdown.classList.toggle('hidden');
                const newQuestionBtn = document.createElement('div');
                newQuestionBtn.classList.add("question-button", "flex", "flex-row", "gap-x-4", "cursor-default", "text-center", "px-2", "py-2", "bg-gray-700", "text-white", "rounded-lg", "hover:shadow-[0_0px_15px_rgba(0,0,0,0.9)]", "shadow-md", "shadow-black", "hover:shadow-purple-900", "hover:bg-gray-900", "w-fit", "relative", "text-white", "text-xl");
                newQuestionBtn.dataset.title = btn.dataset.title;
                newQuestionBtn.textContent = btn.dataset.title.replace(/_/g, ' ').split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
                
                const removeBtn = document.createElement('button');
                removeBtn.classList.add("remove-question", "bg-red-500", "text-white", "font-bold", "px-2", "rounded", "hover:bg-red-900");
                removeBtn.dataset.title = btn.dataset.title;
                removeBtn.textContent = 'X';
                newQuestionBtn.appendChild(removeBtn);

                availableQuestionBtns = document.querySelectorAll('.available-question');
                removeQuestionBtns = document.querySelectorAll('.remove-question');

                questionContainer.append(newQuestionBtn);
                stagedQuestions.push(btn.dataset.title);
                availableQuestionsDropdown.removeChild(btn);

            });


        questionContainer.addEventListener('click', (e) => {
            const questionBtn = e.target.closest('.remove-question');
            if(!questionBtn) return;
            if(questionContainer.children.length > 1) {
                const btn = questionBtn.closest('.question-button');

                const newAvailableQuestion = document.createElement('div');
                newAvailableQuestion.classList.add("available-question", "cursor-pointer", "h-fit", "w-[95%]", "bg-gray-500", "text-center", "text-white", "rounded", "text-lg", "font-bold")
                newAvailableQuestion.textContent = btn.dataset.title.replace(/_/g, ' ').split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
                newAvailableQuestion.dataset.title = btn.dataset.title;


                availableQuestionsDropdown.append(newAvailableQuestion);
                stagedQuestions = stagedQuestions.filter(title => title !== btn.dataset.title);
                questionContainer.removeChild(btn);
            } 
                });


    tagSearch.addEventListener('input', (e) => { 
        const conceptTagBtns = document.querySelectorAll('.conceptTag');
        conceptTagBtns.forEach(btn => {
            if(!btn.textContent.toLowerCase().startsWith(e.target.value.toLowerCase())) {
                btn.classList.add('hidden'); 
            } else {
                btn.classList.remove('hidden');  
            }
        });
        const availableTagBtns = document.querySelectorAll('.availableTag');
        availableTagBtns.forEach(btn => {
            if(!btn.textContent.toLowerCase().startsWith(e.target.value.toLowerCase())) {
                btn.classList.add('hidden');    
            } else {
                btn.classList.remove('hidden');  
            }
        });
    });

        newTagModal.addEventListener('click', (e) => {
            e.stopPropagation();
        });
        deleteTagConfirm.addEventListener('click', (e) => {
            e.stopPropagation();
        });
        deleteConceptModal.addEventListener('click', (e) => {
            e.stopPropagation();
        })
        createTagBtn.addEventListener('click', () => {
            fetch(`/board/${boardId}/tags/createTag/`, {
                method : 'POST',
                headers : {
                    'X-CSRFToken' : csrfToken,
                    'Content-Type' : 'application/json'
                },
                body : JSON.stringify({name : newTagName.value })
            })
            .then(res => res.json())
            .then(data => {
                console.log('Added Tag', data);
                availableTags.append(createTagButton(data, false));
                newTagName.value = '';
                closeModal();
            })
            .catch(err => console.error('Tag Failed', err));
        });

        submitBtn.addEventListener('click', () => {
            const answerValue = conceptAnswer.value.trim() || conceptAnswer.placeholder;
            const definitionValue = conceptDefinition.value.trim() || conceptDefinition.placeholder;
            const hintValue = conceptHint.value.trim() || conceptHint.placeholder;

            fetch(`/concept/update/${conceptId}/`, {
                    method : "POST",
                    headers : {
                        'X-CSRFToken' : csrfToken,
                        'Content-Type' : 'application/json'
                    },
                    body : JSON.stringify({answer : answerValue, definition : definitionValue, hint : hintValue, tags : stagedTags, sessionId : sessionId, questions : stagedQuestions})
            })
            .then(res => res.json())
            .then(data => {
                console.log('Updated', data);
                conceptAnswer.placeholder = answerValue;
                conceptDefinition.placeholder = definitionValue;
                conceptHint.placeholder = hintValue;

                conceptAnswer.value = answerValue;
                conceptDefinition.value = definitionValue;
                conceptHint.value = hintValue;
            })
            .catch(err => console.error('Update failed', err));
        });

        // Event Listener to the Create new tag button
        createTag.addEventListener('click', () => {
            openModal();
        });
        // Event Listener to the X button inside the modal
        closeTag.addEventListener('click', () => {
            closeModal();
        });
        // Event Listener to trigger closing the modal when clicking outside of the modal
        modalBackdrop.addEventListener('click', () => {
            if(!modalBackdrop.classList.contains('hidden')){
                closeModal();
                closeDeleteModal();
                closeDeleteConceptModal();
            }
        });
        // Closes the delete modal popup
        cancelDeleteModal.addEventListener('click', () => {
            closeDeleteModal();
        })
        // Opens the delete concept modal
        deleteBtn.addEventListener('click', () => {
            openDeleteConceptModal();
        });
        // Event listener to handle fully deleting a tag after confirm delete popup
        confirmDeleteBtn.addEventListener('click', () => {
            const tagId = deleteTagConfirm.dataset.tagId;
            if(!tagId) return;
                fetch(`/tag/${tagId}/delete/`, {
                    method: 'POST',
                    headers: { 'X-CSRFToken' : csrfToken }
                })
                .then(res => res.json())
                .then(data => {
                    if(data.success) {
                        document.querySelector(`[data-id="${tagId}"]`)?.remove();
                        closeDeleteModal();
                    } else {
                        alert('Failed to delete tag: ' + data.error);
                    }
                });
        });

        document.addEventListener('click', (e) => {
            if(e.target.classList.contains('conceptTag') || e.target.classList.contains('availableTag')) {
                const button = e.target.closest('button');
                const tagId = button.dataset.id;
                const isConceptTag = button.classList.contains('conceptTag');

                if(!isConceptTag){
                    stagedTags.push(tagId);
                } else {
                    stagedTags = stagedTags.filter(id => id !== tagId);
                }

                button.classList.toggle('conceptTag');
                button.classList.toggle('availableTag');
                const parent = button.parentElement.id === 'concept-tags' ? availableTags : conceptTags;
                parent.appendChild(button);
            }
        });

        // Used to dynamically load tag button when the dom is loaded, easy to implement deletion button methodology compared to an html forloop 
        document.addEventListener('DOMContentLoaded', () => {
            const conceptTagsData = JSON.parse(document.getElementById('concept-tags-data').textContent);
            const availableTagsData = JSON.parse(document.getElementById('available-tags-data').textContent);
            const loadQuestions = document.querySelectorAll('.question-button');

            stagedTags = conceptTagsData.map(tag => String(tag.id))
            loadQuestions.forEach(btn => {
                stagedQuestions.push(btn.dataset.title);
            });

            conceptTags.innerHTML = '';
            availableTags.innerHTML = '';
            conceptTagsData.forEach(tag => {
                conceptTags.appendChild(createTagButton(tag, true));
            });
            availableTagsData.forEach(tag => {
                availableTags.appendChild(createTagButton(tag, false));
            });
        });

    </script>
{% endblock %}
